
body{
      Arial, sans-serif;
      background: #dbd1aa;
      margin : 0;
      padding : 0;	  
	
}

h1{
	color: #108f49;
	text-align: center;
	margin-top : 10px;
	font-size: 50px;
	
}


.info{
	   width:60%;
	   background:rgba(0,0,0, .39);
	   margin: 30px auto;
	   padding:30px 50px 30px 50px;
	   border-radius:15px;
	   
	   
	   	  
	 	
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info input, select, textarea,button{
	padding:5px;
	font-size:18px;
	border:1px yellow solid;
	border-radius:5px;

}

.info label{
	  font-size: 20px;
      color:#fff;
      Cursor:pointer;
      font-weight: bold;
 
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

input:focus, select:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
  background-color: #f0f8ff;
}

#submit{
	width:200px;
	pading:10px 0;
	margin: auto;
	border:3px #108f49 solid;
	border-radius:6px;
	Cursor:pointer;
	
}
      /** Table **/
table{
	width:80%;
	margin: 30px auto;
	
	border-collapse: collapse;
	background : white;
	
}

th,td{
	   padding: 10px;
	   border: 1px #ddd solid;
	   text-align: center;
	
}

th{ 
    background: #108f49;
color: white;
}

tr:nth(even){
	background-color: #f2f2f2;
}

tr:hover{
	background-color:#e0e0e0;
}


